<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Millionaire Quiz</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">

        <!-- container logo -->
        <div id='logo-container'>
            <img id='logo' src="img/logo.png" alt="Logo">
        </div>


        <!-- container di domande e opzioni -->
        <div id='game-container'>

            <button id="play-btn" class="play-btn" role="button" @click="playStart()">INIZIA PARTITA</button>

            <div id="level-track" class="d-none">
                <div class="levels-container">
                    <div class="step" v-for="(step, index) in 11">{{index}}</div>
                </div>
            </div>

            <div class='game d-none'>
                <div class='question'>
                    <div class='text bg-gradient'>{{currentQuestion}}</div>
                </div>

                <div class='options'>
                    <div class='text bg-gradient' v-for="(option, index) in currentOptions" @click="optionClick(index)">
                        <!-- inserire lettera in base all'index (A,B,C,D) -->
                        {{ String.fromCharCode(65 + index) }}:
                        {{option.text}}
                    </div>
                </div>

                <h2 id="lose" class="d-none">HAI PERSO CON UN PUNTEGGIO DI {{userPoints}}</h2>
                <h2 id="win" class="d-none">HAI VINTO !!!</h2>

                <button id="next-btn" class="d-none" @click="generateSingleQuestion()">Prossima domanda</button>

                <button id="restart-btn" class="play-btn d-none" role="button" @click="reStart()">RIGIOCA</button>

                <img id="trophy" class="d-none" src="img/trofeo.png" alt="Trofeo">

            </div>
        </div>

    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>

</html>